{\+ :plus
 \- :minus
 \_ :underscore
 \* :asterisk
 \' :squot
 \" :dquot
 \: :colon
 \; :semi-colon
 \, :comma
 \{ :lbrace
 \} :rbrace
 \( :lparen
 \) :rparen
 \[ :lbracket
 \] :rbracket
 \! :not
 \= :assign
 \| :or
 \& :addr
 \/ :slash
 \\ :bslash
 \? :qmark
 \< :lt
 \> :gt
 \. :dot
 \% :mod
 "==" :eq
 "!=" :neq
 "<=" :geq
 ">=" :leq
 "let" :let
 "if" :if
 "else" :else
 "func" :func
 "true" :bool
 "false" :bool
 "return" :ret}


